:root {
  --bg-color: #fff;
  --line-color-1: #aaa;
  --line-color-2: #ddd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --line-color-1: #666;
    --line-color-2: #333;
  }
}

.grid-bg {
  margin: 20px 0 0 20px;
  display: block;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      var(--line-color-1) 1.5px,
      transparent 1.5px
    ),
    linear-gradient(90deg, var(--line-color-1) 1.5px, transparent 1.5px),
    linear-gradient(var(--line-color-2) 1px, transparent 1px),
    linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px);
  background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
}
